snippet divc "A simple div class tag <div>"
<div`!p snip.rv=' class="' if t[1] else ""`${1:name}`!p snip.rv = '"' if t[1] else ""`>
  $0
</div>
endsnippet


snippet scriptjs "script for javascript files"
<script type="text/javascript" src="$0"></script>
endsnippet


